{% extends 'base.html' %}
{% block content %}
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <td>이름</td>
        <td>{{student.student_name}}</td>
    </tr>
    <tr>
        <td>성적</td>
        <td>{{student.score}}</td>
    </tr>
    <tr>
        <td>등급</td>
        <td>{{student.grade}}</td>
    </tr>
    <tr>
    {% if student.score >= 200%}
        <td colspan="2">
            합격을 축하합니다.
        </td>
        {% else %}
        <td colspan="2">
            아쉽지만 불합격 했습니다.
        </td>
    {% endif %}
    </tr>
</table>
</div>
<a href="{% url 'buddy:index' %}" class="btn btn-link">첫화면으로</a>
{% endblock %}